name: Tests
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - 'docs/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - 'docs/**'

permissions:
  actions: read
  contents: read
  pull-requests: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        postgres-version: [ "16", "17", "18" ]
      fail-fast: true
    services:
     postgres:
       image: postgres:${{ matrix.postgres-version }}
       env:
         POSTGRES_USER: taskiq_postgres
         POSTGRES_PASSWORD: look_in_vault
         POSTGRES_DB: taskiq_postgres
       options: >-
         --health-cmd pg_isready
         --health-interval 10s
         --health-timeout 5s
         --health-retries 5
       ports:
         - 5432:5432
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - id: setup-uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          enable-cache: true
          cache-suffix: ${{ matrix.python-version }}
          version: "latest"
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: uv sync --all-extras
      - name: Run tests
        run: uv run pytest
